# Ignore all folders which start with "build"
/build*/

# Ignore compiled files
/.tools/
/python/flexflow_python
/python/flexflow/core/legion_cffi.py
python/flexflow/core/flexflow_cffi_header.py
python/flexflow/core/legion_cffi_header.py
*.pb.cc
*.pb.h
*.o
*.a

# Ignore inference assets
/inference/weights/*
/inference/tokenizer/*
/inference/prompt/*
/inference/output/*

/tests/inference/python_test_configs/*.json
