[submodule "deps/legion"]
	path = deps/legion
	url = https://gitlab.com/StanfordLegion/legion.git
[submodule "deps/nccl"]
	path = deps/nccl
	url = https://github.com/NVIDIA/nccl.git
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json.git
[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "deps/rapidcheck"]
	path = deps/rapidcheck
	url = https://github.com/emil-e/rapidcheck.git
[submodule "deps/doctest"]
	path = deps/doctest
	url = https://github.com/doctest/doctest.git
[submodule "deps/visit_struct"]
	path = deps/visit_struct
	url = https://github.com/cbeck88/visit_struct.git
[submodule "deps/expected"]
	path = deps/expected
	url = https://github.com/TartanLlama/expected.git
[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "deps/nameof"]
	path = deps/nameof
	url = git@github.com:Neargye/nameof.git
[submodule "deps/range-v3"]
	path = deps/range-v3
	url = git@github.com:ericniebler/range-v3.git
[submodule "deps/boost/config"]
	path = deps/boost/config
	url = https://github.com/boostorg/config.git
[submodule "deps/boost/container_hash"]
	path = deps/boost/container_hash
	url = https://github.com/boostorg/container_hash.git
[submodule "deps/boost/core"]
	path = deps/boost/core
	url = https://github.com/boostorg/core.git
[submodule "deps/boost/throw_exception"]
	path = deps/boost/throw_exception
	url = https://github.com/boostorg/throw_exception.git
[submodule "deps/boost/type_index"]
	path = deps/boost/type_index
	url = https://github.com/boostorg/type_index.git
[submodule "deps/boost/preprocessor"]
	path = deps/boost/preprocessor
	url = https://github.com/boostorg/preprocessor.git
[submodule "deps/boost/assert"]
	path = deps/boost/assert
	url = https://github.com/boostorg/assert.git
[submodule "deps/boost/describe"]
	path = deps/boost/describe
	url = https://github.com/boostorg/describe.git
[submodule "deps/boost/static_assert"]
	path = deps/boost/static_assert
	url = https://github.com/boostorg/static_assert.git
[submodule "deps/boost/mp11"]
	path = deps/boost/mp11
	url = https://github.com/boostorg/mp11.git
[submodule "deps/bilke-cmake-modules"]
	path = deps/bilke-cmake-modules
	url = git@github.com:bilke/cmake-modules.git
