[submodule "deps/legion"]
	path = deps/legion
	url = https://gitlab.com/StanfordLegion/legion.git
[submodule "deps/nccl"]
	path = deps/nccl
	url = https://github.com/NVIDIA/nccl.git
[submodule "deps/pybind11"]
	path = deps/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest.git
[submodule "deps/variant"]
	path = deps/variant
	url = https://github.com/mpark/variant
[submodule "deps/optional"]
	path = deps/optional
	url = https://github.com/TartanLlama/optional.git
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json.git
[submodule "deps/tokenizers-cpp"]
	path = deps/tokenizers-cpp
	url = https://github.com/mlc-ai/tokenizers-cpp.git
	fetchRecurseSubmodules = true