project_name = "flexflow"
testsuite_macro = "FF_TEST_SUITE"
namespace_name = "FlexFlow"
header_extension = ".h"

build_targets = [
  "utils",
  "op-attrs",
  "kernels",
  "pcg",
  "substitutions",
  "compiler",
  "substitution-generator",
  "local-execution", 
]

test_targets = [
  "utils-tests",
  "op-attrs-tests",
  "pcg-tests",
  "substitutions-tests",
  "compiler-tests",
  "substitution-generator-tests",
]

[cmake_flags_extra]
FF_CUDA_ARCH = "60"
CMAKE_CUDA_ARCHITECTURES = "60"
