cffi>=1.11.0
numpy>=1.16.0
qualname>=0.1.0
keras_preprocessing>=1.1.2
Pillow
pybind11
cmake-build-extension
ninja
requests
regex
torch>=1.13.1
torchaudio>=0.13.1
torchvision>=0.14.1
onnx
transformers>=4.31.0
sentencepiece
einops
