version: 2.1

gpu: &gpu
  environment:
    CUDA_VERSION: "11.1"
  machine:
    image: ubuntu-1604-cuda-11.1:202012-01
  resource_class: gpu.large


jobs:
  test_nvidia_smi:
    <<: *gpu
    steps:
      - checkout
      - run: nvidia-smi
  flexflow_build_test:
    <<: *gpu
    steps:
      - checkout
      - run:
          name: "Set python environment"
          command: |
            wget -c https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh
            mv Miniconda3-latest-Linux-x86_64.sh ~/Miniconda3-latest-Linux-x86_64.sh
            chmod +x ~/Miniconda3-latest-Linux-x86_64.sh
            sudo ~/Miniconda3-latest-Linux-x86_64.sh -b -p /opt/conda
            rm ~/Miniconda3-latest-Linux-x86_64.sh
            sudo /opt/conda/bin/conda init
            source ~/.bashrc
            sudo /opt/conda/bin/conda upgrade --all
            sudo /opt/conda/bin/conda install -y conda-build conda-verify
            sudo /opt/conda/bin/conda clean -ya
            sudo /opt/conda/bin/conda install -y cmake make pillow
            sudo /opt/conda/bin/conda install -y -c conda-forge onnx pytest
            python -c 'import onnx'
            sudo /opt/conda/bin/conda install -y -c pytorch pytorch torchvision
      - run:
          name: Install FlexFlow dependencies
          command: |
            export FF_HOME=$PWD
            git submodule update --init --recursive
            cd $FF_HOME/deps/nccl
            make -j src.build NVCC_GENCODE="-gencode arch=compute_52,code=sm_52 -gencode arch=compute_60,code=sm_60 -gencode arch=compute_70,code=sm_70"
            cd $FF_HOME
            sudo add-apt-repository ppa:deadsnakes/ppa
            sudo apt-get update
            sudo apt-get install mpich
            cd $FF_HOME
            git clone https://github.com/StanfordLegion/gasnet.git
            cd $FF_HOME/gasnet
            export CONDUIT=mpi
            make -j
            cd $FF_HOME
            wget -c http://developer.download.nvidia.com/compute/redist/cudnn/v8.0.5/cudnn-10.1-linux-x64-v8.0.5.39.tgz
            sudo tar -xzf cudnn-10.1-linux-x64-v8.0.5.39.tgz -C /usr/local
            rm cudnn-10.1-linux-x64-v8.0.5.39.tgz
            sudo ldconfig
      - run:
          name: Build FlexFlow
          command: |
            export FF_HOME=$PWD
            export CUDNN_HOME=$CUDNN_ROOT_DIR
            export CUDA_ARCH="52,60,70"
            export GPU_ARCH="52,60,70"
            export CUDA_HOME=/usr/local/cuda-10.1
            export NCCL_HOME=$FF_HOME/deps/nccl/build
            export PATH=/opt/conda/bin:$PATH
            which python3
            #export PYTHON_ROOT=/opt/conda/bin/python3
            #export PYTHON_EXE=python3
            #export PYTHON_VERSION_MAJOR=3
            export GASNET=$FF_HOME/../gasnet/release
            export CPLUS_INCLUDE_PATH=/usr/include/mpi:$CPLUS_INCLUDE_PATH 
            cd python
            make -j
            pip install -e .
            python -c 'import flexflow.core'
      - run:
          name: Run pytest
          command: |
            export FF_HOME=$PWD
            export CUDNN_HOME=$CUDNN_ROOT_DIR
            export CUDA_HOME=/usr/local/cuda-10.1
            export NCCL_HOME=$FF_HOME/deps/nccl/build
            export PATH=/opt/conda/bin:$PATH
            export GASNET=$FF_HOME/../gasnet/release
            export CPLUS_INCLUDE_PATH=/usr/include/mpi:$CPLUS_INCLUDE_PATH
            python examples/python/onnx/mnist_mlp_pt.py
            pytest tests/onnx

  flexflow_multigpu_test:
    <<: *gpu
    steps:
      - checkout
      - run:
          name: "Set python environment"
          command: |
            wget -c https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh
            mv Miniconda3-latest-Linux-x86_64.sh ~/Miniconda3-latest-Linux-x86_64.sh
            chmod +x ~/Miniconda3-latest-Linux-x86_64.sh
            sudo ~/Miniconda3-latest-Linux-x86_64.sh -b -p /opt/conda
            rm ~/Miniconda3-latest-Linux-x86_64.sh
            sudo /opt/conda/bin/conda init
            source ~/.bashrc
            sudo /opt/conda/bin/conda upgrade --all
            sudo /opt/conda/bin/conda install -y conda-build conda-verify
            sudo /opt/conda/bin/conda clean -ya
            sudo /opt/conda/bin/conda install -y cmake make pillow
            sudo /opt/conda/bin/conda install -y -c conda-forge onnx pytest
            python -c 'import onnx'
            sudo /opt/conda/bin/conda install -y -c pytorch pytorch torchvision
      - run: 
          name: Install FlexFlow dependencies
          command: |
            export FF_HOME=$PWD
            git submodule update --init --recursive
            cd $FF_HOME/deps/nccl
            make -j src.build NVCC_GENCODE="-gencode arch=compute_52,code=sm_52 -gencode arch=compute_60,code=sm_60 -gencode arch=compute_70,code=sm_70"
            cd $FF_HOME
            sudo add-apt-repository ppa:deadsnakes/ppa
            sudo apt-get update
            sudo apt-get install mpich
            cd $FF_HOME
            git clone https://github.com/StanfordLegion/gasnet.git
            cd $FF_HOME/gasnet
            export CONDUIT=mpi
            make -j
            cd $FF_HOME
            wget -c http://developer.download.nvidia.com/compute/redist/cudnn/v8.0.5/cudnn-10.1-linux-x64-v8.0.5.39.tgz
            sudo tar -xzf cudnn-10.1-linux-x64-v8.0.5.39.tgz -C /usr/local
            rm cudnn-10.1-linux-x64-v8.0.5.39.tgz
            sudo ldconfig
      - run: 
          name: Build FlexFlow
          command: |
            export FF_HOME=$PWD
            export CUDNN_HOME=$CUDNN_ROOT_DIR
            export CUDA_ARCH="52,60,70"
            export GPU_ARCH="52,60,70"
            export CUDA_HOME=/usr/local/cuda-10.1
            export NCCL_HOME=$FF_HOME/deps/nccl/build
            export PATH=/opt/conda/bin:$PATH
            which python3
            #export PYTHON_ROOT=/opt/conda/bin/python3
            #export PYTHON_EXE=python3
            #export PYTHON_VERSION_MAJOR=3
            export GASNET=$FF_HOME/../gasnet/release
            export CPLUS_INCLUDE_PATH=/usr/include/mpi:$CPLUS_INCLUDE_PATH 
            cd python
            make -j
            pip install -e .
            python -c 'import flexflow.core'
      - run:
          name: Run multi-GPU tests
          command: |
            export FF_HOME=$PWD
            export CUDNN_HOME=$CUDNN_ROOT_DIR
            export CUDA_HOME=/usr/local/cuda-10.1
            export NCCL_HOME=$FF_HOME/deps/nccl/build
            export PATH=/opt/conda/bin:$PATH
            export GASNET=$FF_HOME/../gasnet/release
            export LD_LIBRARY_PATH=$NCCL_HOME/lib:$LD_LIBRARY_PATH
            export CPLUS_INCLUDE_PATH=/usr/include/mpi:$CPLUS_INCLUDE_PATH
            bash tests/multi_gpu_tests.sh 4
            bash tests/accuracy_tests.sh 4

workflows:
  commit:  
    jobs:
      - test_nvidia_smi
      - flexflow_build_test:
          context: FLEXFLOW_PARAMETER_SERVER
      - flexflow_build_test:
          context: FLEXFLOW_NCCL
      - flexflow_multigpu_test:
          context: FLEXFLOW_NCCL
  nightly-parameter-server:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - test_nvidia_smi
      - flexflow_multigpu_test:
          context: FLEXFLOW_PARAMETER_SERVER
  nightly-nccl:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - test_nvidia_smi
      - flexflow_multigpu_test:
          context: FLEXFLOW_NCCL

