python>=3.0

cffi>=1.11.0
pip/conda install cffi

numpy>=1.16.0
pip/conda install numpy

qualname>=0.1.0
pip install qualname

keras_preprocessing>=1.1.2
pip install keras_preprocessing
conda install keras-preprocessing

Pillow
pip install Pillow
conda install pillow
