name: "build"
on:
  pull_request:
    paths:
      - "include/**"
      - "cmake/**"
      - "config/**"
      - "python/**"
      - "src/**"
      - ".github/workflows/helpers/install_dependencies.sh"
      - ".github/workflows/build.yml"
  push:
    paths:
      - "include/**"
      - "cmake/**"
      - "config/**"
      - "python/**"
      - "src/**"
      - ".github/workflows/helpers/install_dependencies.sh"
      - ".github/workflows/build.yml"
  workflow_dispatch:
concurrency:
  group: build-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  cmake-build:
    name: Build FlexFlow with CMake
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout Git Repository
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install CUDA
        uses: Jimver/cuda-toolkit@v0.2.8
        id: cuda-toolkit
        with:
          cuda: "11.1.1"

      - name: Install FlexFlow Dependencies
        run: .github/workflows/helpers/install_dependencies.sh

      - name: Build FlexFlow
        run: |
          export PATH=/opt/conda/bin:$PATH
          export CUDNN_DIR=/usr/local/cuda
          export CUDA_DIR=/usr/local/cuda
          export FF_HOME=$(pwd)
          cores_available=$(nproc --all)
          n_build_cores=$(( cores_available -1 ))
          if (( $n_build_cores < 1 )) ; then n_build_cores=1 ; fi
          sed -i "/FF_CUDA_ARCH/c\FF_CUDA_ARCH=70" ./config/config.linux
          sed -i "/FF_BUILD_ALL_EXAMPLES/c\FF_BUILD_ALL_EXAMPLES=ON" ./config/config.linux
          sed -i "/FF_BUILD_UNIT_TESTS/c\FF_BUILD_UNIT_TESTS=ON" ./config/config.linux
          mkdir build
          cd build
          ../config/config.linux
          make -j $n_build_cores

      - name: Install FlexFlow
        run: |
          export PATH=/opt/conda/bin:$PATH
          export CUDNN_DIR=/usr/local/cuda
          export CUDA_DIR=/usr/local/cuda
          export FF_HOME=$(pwd)
          cd build
          ../config/config.linux
          sudo make install

      - name: Check availability of Python flexflow.core module
        run: |
          export PATH=/opt/conda/bin:$PATH
          python -c "import flexflow.core; exit()"

      - name: Run C++ unit tests
        run: |
          export PATH=/opt/conda/bin:$PATH
          export CUDNN_DIR=/usr/local/cuda
          export CUDA_DIR=/usr/local/cuda
          export FF_HOME=$(pwd)
          export LD_LIBRARY_PATH=$CUDA_DIR/lib64/stubs:$LD_LIBRARY_PATH
          sudo ln -s /usr/local/cuda/lib64/stubs/libcuda.so /usr/local/cuda/lib64/stubs/libcuda.so.1
          cd build
          ./tests/unit/unit-test

  makefile-build:
    name: Build FlexFlow with the Makefile
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout Git Repository
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install CUDA
        uses: Jimver/cuda-toolkit@v0.2.8
        id: cuda-toolkit
        with:
          cuda: "11.1.1"

      - name: Install FlexFlow Dependencies
        run: .github/workflows/helpers/install_dependencies.sh

      - name: Build FlexFlow
        run: |
          export PATH=/opt/conda/bin:$PATH
          export CUDNN_DIR=/usr/local/cuda
          export CUDA_DIR=/usr/local/cuda
          export FF_HOME=$(pwd)
          cores_available=$(nproc --all)
          n_build_cores=$(( cores_available -1 ))
          if (( $n_build_cores < 1 )) ; then n_build_cores=1 ; fi

          cd python
          make -j $n_build_cores
          python -c 'import flexflow.core'
