name: "docker-build"
on:
  pull_request:
    paths:
      - "docker/**"
      - "!docker/README.md"
      - ".github/workflows/docker-build.yml"
  push:
    branches:
      - "master"
    paths:
      - "docker/**"
      - "!docker/README.md"
      - ".github/workflows/docker-build.yml"
  workflow_dispatch:

# Cancel outdated workflows if they are still running
concurrency:
  group: docker-build-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  docker-build:
    name: Build and Install FlexFlow in a Docker Container
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        gpu_backend: ["cuda", "hip_rocm"]
      fail-fast: false
    steps:
      - name: Checkout Git Repository
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Free additional space on runner
        run: .github/workflows/helpers/free_space_on_runner.sh

      - name: Build Docker container
        env:
          FF_GPU_BACKEND: ${{ matrix.gpu_backend }}
        run: |
          # On push to master, build for all compatible architectures, so that we can publish 
          # a pre-built general-purpose image. On all other cases, only build for one architecture
          # to save time.
          if [[ ${{ github.event_name }} == 'push' && ${GITHUB_REF#refs/heads/} == "master" ]]; then
            export FF_CUDA_ARCH=all
          else
            export FF_CUDA_ARCH=70
          fi
          if [[ "${FF_GPU_BACKEND}" == "cuda" ]]; then
            export FF_BUILD_ALL_INFERENCE_EXAMPLES=ON
          else
            export FF_BUILD_ALL_INFERENCE_EXAMPLES=OFF
          fi
          ./docker/build.sh flexflow

      - name: Check availability of Python flexflow.core module
        if: ${{ matrix.gpu_backend == 'cuda' }}
        run: docker run --entrypoint python flexflow-cuda:latest -c "import flexflow.core; exit()"

      - name: Publish Docker environment image (on push to master)
        env:
          FLEXFLOW_CONTAINER_TOKEN: ${{ secrets.FLEXFLOW_CONTAINER_TOKEN }}
          FF_GPU_BACKEND: ${{ matrix.gpu_backend }}
        run: |
          if [[ ${{ github.event_name }} == 'push' && ${GITHUB_REF#refs/heads/} == "master" ]]; then
            ./docker/publish.sh "flexflow-environment-${FF_GPU_BACKEND}"
            ./docker/publish.sh "flexflow-${FF_GPU_BACKEND}"
          else
            echo "No need to update Docker containers in ghrc.io registry at this time."
          fi
